<form (ngSubmit)="onSubmit()">
  <div>
    <label for="text">Task:</label>
    <input
      type="text"
      id="text"
      name="text"
      class="form-control"
      placeholder="Adicionar Tarefa"
      [(ngModel)]="task"
    />
  </div>

  <div>
    <label for="category">Categoria:</label>

    <select name="category" id="category" class="form-select" [(ngModel)]="category">
      <option value="" disabled>Selecione uma categoria</option>
      <option value="Casa">Casa</option>
      <option value="Trabalho">Trabalho</option>
      <option value="Faculdade">Faculdade</option>
      <option value="Academia">Academia</option>
      <option value="Lazer">Lazer</option>
    </select>
  </div>

  <input type="submit" value="Salvar Task" class="" />
</form>
